In [3]:
# Jupyter magic
%run ../util/dependencies.py

# Load the raw data as dataframe
file_path = '../data/ks_01_raw.csv'
ks = pd.read_csv(file_path)

# set visual style for plots during exploration
sns.set_palette('rocket')
sns.set_style("darkgrid")
plt.style.use("dark_background")

### Kepler Star Target Observations

In [5]:
print('=====================================')
print('\KEPLER STELLAR DB')
print('=====================================')


print('\n~~~~~~~~~~~~~~~~~')
print('Info')
print('~~~~~~~~~~~~~~~~~')
print(ks.info())

print('\n~~~~~~~~~~~~~~~~~')
print('Head')
print('~~~~~~~~~~~~~~~~~')
print(ks.head())

print('\n~~~~~~~~~~~~~~~~~')
print('Description')
print('~~~~~~~~~~~~~~~~~')
print(ks.describe())

print('\n~~~~~~~~~~~~~~~~~')
print('Missing Values')
print('~~~~~~~~~~~~~~~~~')
for col in ks.columns:
    per_missing = ks[col].isnull().sum() / len(ks) * 100
    print(f'{col}: {per_missing:.2f}% missing values')

print('\n~~~~~~~~~~~~~~~~~')
print('Value Counts')
print('~~~~~~~~~~~~~~~~~')
for col in ks:
    print(ks[col].value_counts())

<>:2: SyntaxWarning: invalid escape sequence '\K'
<>:2: SyntaxWarning: invalid escape sequence '\K'
/tmp/ipykernel_60762/1386476828.py:2: SyntaxWarning: invalid escape sequence '\K'
  print('\KEPLER STELLAR DB')

=====================================
\KEPLER STELLAR DB
=====================================

~~~~~~~~~~~~~~~~~
Info
~~~~~~~~~~~~~~~~~
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990244 entries, 0 to 990243
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   kepid           990244 non-null  int64
 1   tm_designation  988042 non-null  object
 2   teff            990244 non-null  int64
 3   feh             990244 non-null  float64
 4   radius          990244 non-null  float64
 5   mass            787129 non-null  float64
 6   dens            787129 non-null  float64
 7   nconfp          990244 non-null  int64
 8   nkoi            990244 non-null  int64
 9   ntce            990244 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 75.5+ MB
None

~~~~~~~~~~~~~~~~~
Head
~~~~~~~~~~~~~~~~~
      kepid           tm_designation  teff  feh  radius  mass  dens  nconfp  \
0  10002413  2MASS J19103477+4657082  5708 -0.2   0.956   NaN   NaN       0
1  10002443  2MASS J19103873+4656594  4896 -0.2   2.389   NaN   NaN       0
2  10002456  2MASS J19104063+4655140  5642 -0.2   0.831   NaN   NaN       0
3  10002462  2MASS J19104115+4658344  9877 -0.2   2.198   NaN   NaN       0
4  10002490  2MASS J19104670+4654182  5577 -0.2   0.884   NaN   NaN       0

   nkoi  ntce
0     0     0
1     0     0
2     0     0
3     0     3
4     0     0

~~~~~~~~~~~~~~~~~
Description
~~~~~~~~~~~~~~~~~
              kepid           teff            feh         radius  \
count  9.902440e+05  990244.000000  990244.000000  990244.000000
mean   7.870182e+06    5674.616938      -0.174397       3.162848
std    2.956223e+06     802.762263       0.251700      10.862114
min    7.570760e+05    2500.000000      -2.567000       0.104000
25%    5.715640e+06    5207.000000      -0.260000       0.836000
50%    8.087459e+06    5776.000000      -0.200000       1.000000
75%    1.000241e+07    6129.000000      -0.034000       1.374000
max    1.000016e+08   27730.000000       1.000000     300.749000

                mass          dens         nconfp           nkoi  \
count  787129.000000  7.871290e+05  990244.000000  990244.000000
mean        1.102479  1.711643e+00       0.014081       0.048076
std         0.508014  3.359078e+00       0.161999       0.255624
min         0.086000  1.851000e-07       0.000000       0.000000
25%         0.850000  5.319000e-01       0.000000       0.000000
50%         0.988300  1.435000e+00       0.000000       0.000000
75%         1.138000  2.145000e+00       0.000000       0.000000
max         3.736000  1.240000e+02       8.000000       7.000000

                ntce
count  990244.000000
mean        0.089968
std         0.490432
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        10.000000

~~~~~~~~~~~~~~~~~
Missing Values
~~~~~~~~~~~~~~~~~
kepid: 0.00% missing values
tm_designation: 0.22% missing values
teff: 0.00% missing values
feh: 0.00% missing values
radius: 0.00% missing values
mass: 20.51% missing values
dens: 20.51% missing values
nconfp: 0.00% missing values
nkoi: 0.00% missing values
ntce: 0.00% missing values

~~~~~~~~~~~~~~~~~
Value Counts
~~~~~~~~~~~~~~~~~
kepid
9995748     5
9995753     5
9995755     5
9995769     5
10003262    5
           ..
7446236     2
7533991     2
7686127     2
8098986     2
8222179     2
Name: count, Length: 200038, dtype: int64
tm_designation
2MASS J18550120+4656052    5
2MASS J18550220+4658418    5
2MASS J18550787+4659221    5
2MASS J18550868+4656419    5
2MASS J18550883+4657476    5
                          ..
2MASS J19272711+4246316    2
2MASS J19205349+4258329    2
2MASS J19160271+4310344    2
2MASS J19212816+4303266    2
2MASS J19125329+4301280    2
Name: count, Length: 199469, dtype: int64
teff
5780     22743
6063      2733
6108      2570
6343      2471
5926      2358
         ...
10635        1
11102        1
11100        1
8486         1
8457         1
Name: count, Length: 6493, dtype: int64
feh
-0.200    184816
 0.070     52879
 0.000     42533
-0.100     37423
-0.120     31645
           ...
-0.792         1
 0.332         1
-0.762         1
-1.586         1
-2.045         1
Name: count, Length: 1878, dtype: int64
radius
1.000     23540
1.031      4358
1.137      2343
0.872      2337
0.911      2321
          ...
10.281        1
18.416        1
9.824         1
25.695        1
43.691        1
Name: count, Length: 21186, dtype: int64
mass
1.0830    2087
1.0380    1938
1.0280    1928
1.0840    1871
0.9610    1802
          ...
1.2782       1
1.6001       1
1.6587       1
2.0039       1
1.9432       1
Name: count, Length: 19290, dtype: int64
dens
1.16400    2003
1.51900    1846
1.40000    1742
1.45700    1659
1.66500    1368
           ...
0.02691       1
0.86580       1
0.07076       1
0.55310       1
0.09368       1
Name: count, Length: 31840, dtype: int64
nconfp
0    980341
1      7301
2      1628
3       639
4       235
5        80
6        15
8         5
Name: count, dtype: int64
nkoi
0    949374
1     36188
2      3300
3       893
4       340
5       124
6        15
7        10
Name: count, dtype: int64
ntce
0     939515
1      30667
2      11552
3       4327
4       1805
5        914
6        620
7        351
8        223
10       157
9        113
Name: count, dtype: int64

A lot of dupplicates observed from the Kepler Stellar dataset (see 'Value Counts', above), however something that is troubling is that this particular dataset does not detail the stellar classification of each of the stars, unfortunately, a key aspect to the analysis I plan on performing. I may, again, need to rely upon approximate-classificaitons based on temperature, for the KR star classificaiton system.

In [6]:
ks = ks.drop_duplicates()

print("Duplicates removed. Number of records after deduplication:", len(ks))
print('\n~~~~~~~~~~~~~~~~~')
print('Value Counts')
print('~~~~~~~~~~~~~~~~~')
for col in ks:
    print(ks[col].value_counts())

Duplicates removed. Number of records after deduplication: 677750

~~~~~~~~~~~~~~~~~
Value Counts
~~~~~~~~~~~~~~~~~
kepid
4169315    5
6966132    5
6965782    5
6965789    5
9953851    5
          ..
8235024    1
8299231    1
8296111    1
8301649    1
8547781    1
Name: count, Length: 200038, dtype: int64
tm_designation
2MASS J19281409+4355308    5
2MASS J19512531+4937587    5
2MASS J19512874+4936598    5
2MASS J19150907+4938233    5
2MASS J19561019+4358201    5
                          ..
2MASS J19290748+4049156    1
2MASS J19562168+4056217    1
2MASS J19513319+4049095    1
2MASS J19402911+4109069    1
2MASS J19320828+4108090    1
Name: count, Length: 199469, dtype: int64
teff
5780     15473
6343      2260
6063      1545
6108      1462
6167      1340
         ...
9347         1
3240         1
8716         1
10594        1
7929         1
Name: count, Length: 6493, dtype: int64
feh
-0.200    173237
 0.070     32907
 0.000     26969
-0.100     23037
-0.120     19695
           ...
-0.792         1
 0.332         1
-0.762         1
-1.586         1
-2.045         1
Name: count, Length: 1878, dtype: int64
radius
1.000     15958
1.031      3484
1.137      2172
0.872      1770
1.033      1676
          ...
62.030        1
17.845        1
15.560        1
20.833        1
12.892        1
Name: count, Length: 21186, dtype: int64
mass
1.2130    1276
1.0840    1233
1.0830    1091
1.2134     890
0.9260     860
          ...
2.1010       1
3.7310       1
2.9270       1
3.1230       1
2.8600       1
Name: count, Length: 19290, dtype: int64
dens
1.164000    1887
1.400000    1345
1.343000    1085
1.397000    1036
1.519000    1005
            ...
0.000674       1
0.003655       1
0.000736       1
5.943000       1
0.078050       1
Name: count, Length: 31840, dtype: int64
nconfp
0    668820
1      6575
2      1474
3       578
4       211
5        74
6        13
8         5
Name: count, dtype: int64
nkoi
0    641799
1     31664
2      3014
3       826
4       309
5       115
6        13
7        10
Name: count, dtype: int64
ntce
0     631074
1      27975
2      10508
3       4090
4       1747
5        898
6        615
7        350
8        223
10       157
9        113
Name: count, dtype: int64

Just by reviewing the 'kepid' feature, further data cleaning is required to remove duplicate entries and ensure that we are working with a clean dataset.

In [7]:
# Get a quick view of how duplicate kepid records differ when considering other features
print(ks[ks['kepid'] == 9995748])
print(ks[ks['kepid'] == 6965789])
print(ks[ks['kepid'] == 6965782])

          kepid           tm_designation  teff  feh  radius    mass   dens  \
194432  9995748  2MASS J18550787+4659221  6211 -0.2   1.027     NaN    NaN
218932  9995748  2MASS J18550787+4659221  6205 -0.2   0.997  1.0527  1.498
566381  9995748  2MASS J18550787+4659221  6205 -0.2   0.997  1.0530  1.498
792459  9995748  2MASS J18550787+4659221  6214 -0.2   1.003  1.0490  1.462

        nconfp  nkoi  ntce
194432       0     0     0
218932       0     0     0
566381       0     0     0
792459       0     0     0
          kepid           tm_designation  teff   feh  radius    mass     dens  \
121933  6965789  2MASS J19454130+4229343  7880 -0.20   5.325     NaN      NaN
303875  6965789  2MASS J19454130+4229343  7874 -2.00   4.573  1.7893  0.02636
499358  6965789  2MASS J19454130+4229343  7874 -2.00   4.573  1.7890  0.02636
718809  6965789  2MASS J19454130+4229343  7897 -1.96   4.266  1.7270  0.03134
872175  6965789  2MASS J19454130+4229343  7897 -1.96   4.266  1.7270  0.03134

        nconfp  nkoi  ntce
121933       0     0     2
303875       0     0     3
499358       0     0     3
718809       0     0     3
872175       0     0     0
          kepid           tm_designation  teff   feh  radius    mass  \
121932  6965782  2MASS J19454100+4229286  6756 -0.20   9.827     NaN
303874  6965782  2MASS J19454100+4229286  5447  0.21   9.977  2.8503
499357  6965782  2MASS J19454100+4229286  5447  0.21   9.977  2.8500
718619  6965782  2MASS J19454100+4229286  5412  0.21  13.378  3.2940
872174  6965782  2MASS J19454100+4229286  5412  0.21  13.378  3.2940

            dens  nconfp  nkoi  ntce
121932       NaN       0     0     0
303874  0.004042       0     0     0
499357  0.004042       0     0     0
718619  0.001937       0     0     2
872174  0.001937       0     0     0

The process for addressing these duplicates should be as follows:
1. Keep top kepid (should be uniform)
2. Keep top tm_designation (should be uniform)
3. Average (as mean) all of the following features (adjusting for outliers, and not including NaN):
    - teff
    - feh
    - radius
    - mass
    - dens
4. Select highest value nconfp, nkoi, and ntce

In [ ]:
for record in ks:
    if duplicates_exist(record['kepid']):
        # Select top record as default
        list_record_index = list(duplicates_of_record['kepid'])
        my_new_record = list_record_index[0]

        # Select most likely tm_designation (it does not appear that any of the tm_designations are mis-entered, but lets assume that they could be)
        dict_tmdes_count = dict()
        for i in list_record_index['tm_designation']:
            if i is not NULL:
                dict_tmdes_count.update() = dict_tmdes_count + 1
        my_new_record['tm_designation'] = highest count

        # Average the following features:
        # teff
        list_teff = list_record_index['teff']
        my_new_record['teff'] = avg(list_teff)
        # feh
        list_feh = list_record_index['feh']
        my_new_record['feh'] = avg(list_feh)
        # radius
        list_radius = list_record_index['radius']
        my_new_record['radius'] = avg(list_radius)
        # mass
        list_mass = list_record_index['mass']
        my_new_record['mass'] = avg(list_mass)
        # dens
        list_dens = list_record_index['dens']
        my_new_record['dens'] = avg(list_dens)

        # Select highest value for nconfp
        list_nconfp = list_record_index['nconfp']
        my_new_record['nconfp'] = high(list_teff)
        # nkoi
        list_nkoi = list_record_index['nkoi']
        my_new_record['nkoi'] = high(list_nkoi)
        # ntce
        list_ntce = list_record_index['ntce']
        my_new_record['ntce'] = high(list_ntce)